{% extends 'admin/layout.html.twig' %}



{% block content %}
    <h1>Create new Artiste</h1>

    {{ include('artiste/_form.html.twig') }}

    <a href="{{ path('artiste_index') }}">back to list</a>
{% endblock %}
