{% extends 'admin/layout.html.twig' %}



{% block content %}
    <h1>Artiste</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ artiste.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ artiste.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ artiste.prenom }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ artiste.photo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('artiste_index') }}">back to list</a>

    <a href="{{ path('artiste_edit', {'id': artiste.id}) }}">edit</a>

    {{ include('artiste/_delete_form.html.twig') }}
{% endblock %}
