{% extends 'admin/layout.html.twig' %}

{% block title %}Edit Film{% endblock %}

{% block content %}
    <h1>Edit Film</h1>

    {{ include('film/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('film_index') }}">back to list</a>

    {{ include('film/_delete_form.html.twig') }}
{% endblock %}
